[mysqld]
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 0 # or 2
slow_query_log                 = 1
slow_query_log_file            = /var/lib/mysql/mysqld-slow.log
long_query_time                = 0
log-queries-not-using-indexes  = 1
innodb_buffer_pool_size        = 1G # スペックに合わせて調整
